body{
    font-family: "Open Sans", sans-serif;
    margin: 50px;
  }
nav{
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    margin-right: 20px;
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color: black;
}
.header{
    font-size: x-large;
    font-style: bold;
}
.head{
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.orange{
    color: orange;
}
.btn_hire{
    background-color: orange;
    color: white;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 5px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 50px;
}
.propic{
    height: 450px;
    width: 400px;
    
}
.about{
    text-align: center;
    margin: 150px;
    align-items: center;
}
.me{
    display: flex;
    text-align: center;
    padding-left: 30px;
}
.pa1{
    padding-right: 30px;
}
.pa{
    font-weight: bold;
}
.what{
    text-align: center;
    margin: 150px;
    align-items: center;
    margin-bottom: 5px;
}
.skill{
    display: flex;
    margin: 50px 150px 15px 150px;
}
.rs{
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
}
.resume{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.deg{
 
}
.btn_d{
    text-align: center;
    margin-top: 50px;
}
